@import "utilities";
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	transition: 0.3s;
	.nav {
		display: flex;
	    align-items: center;
	    justify-content: space-between;
		&__left {
			a {
			    width: 150px;
			    overflow: hidden;
			    flex: none;
			    display: block;
			    height: 90px;
				svg {
					width: 350px;
    				height: auto;
					path {
						fill: white;
					}
				}
			}
		}
		&__right {
			display: flex;
	    	align-items: center;
			ul {
				display: flex;
				li {
					a {
						display: block;
						color: white;
						padding: 0px 10px;
    					font-size: 18px;
    					font-family: 'nexa_bold';
    					&:after {
						    content: '.';
						    color: #f7d52e;
						    margin-left: 2px;
						}
					}
					&.menu-item-has-children {
					    position: relative;
					    .sub-menu {
						    position: absolute;
						    pointer-events: none;
						    opacity: 0;
						    transition: 0.3s;
						    padding-top: 25px;
						    padding-left: 10px;
						    padding-right: 10px;
						    padding-bottom: 10px;
						    &:before {
							    content: '';
							    width: 100%;
							    height: calc(100% - 15px);
							    background: white;
							    position: absolute;
							    top: 15px;
							    left: 0;
							    z-index: -1;
							    border-radius: 10px;
							    border: solid 1px #3374ac;
							}
							&:after {
							    content: '';
							    position: absolute;
							    width: 10px;
							    height: 10px;
							    border-top: solid 1px #3374ac;
							    border-left: solid 1px #3374ac;
							    background: white;
							    transform: rotate(45deg);
							    top: 10px;
							    left: 25px;
							}
							a {
							    font-size: 14px;
							    white-space: nowrap;
							    color: #3374ac;
							}
						}
						&:hover {
							.sub-menu {
								opacity: 1;
								pointer-events: all;
							}
						}
					}
				}
			}
		}
		&__menu {
			margin-right: 15px;
		}
		&__pedido {

		}
	}
	&.active {
		background: white;
		box-shadow: 0px 3px 4px rgba(76, 76, 76, 0.23);
		.nav {
			&__left {
				a {
					svg {
						path {
							//fill: #05408b;
							fill : $azul;
						}
					}
				}
			}
			&__right {
				ul {
					li {
						a {
							color: $azul;
						}
					}
				}
			}
		}
	}
}
