@import "variables";
@import "utilities";
.banner {
	position: relative;
	z-index: 1;
	margin-top: 121px;
	background-size: cover;
    background-position: center;
    @include maxw(table_max) {
    	margin-top: 81px;
    }
	.titlePrincipal {
		height: 250px;
		position: relative;
		display: flex;
		align-items: center;
		.title {
			margin-bottom: 0px;
			h1 {
				font-size: 55px;
				color: white;
			}
		}
	}
}
.ss_banner {
	.flex {
	    display: flex;
	    justify-content: space-between;
	    @include maxw(table_max) {
	    	display: block;
	    }
	}
	.content {
	    padding: 20px 0px;
	    max-width: 600px;
	    p {
		    margin-bottom: 20px;
		    font-size: 16px;
		    line-height: 20px;
		}
	    li {
		    margin-bottom: 20px;
		    font-size: 16px;
		    position: relative;
		    padding-left: 17px;
		    a {
			    color: $azul;
			    font-weight: 700;
			}
			&:before {
			    content: '';
			    display: inline-block;
			    width: 6px;
			    height: 6px;
			    transform: rotate(-45deg);
			    border-right: solid 1px $azul;
			    border-bottom: solid 1px $azul;
			    position: absolute;
			    left: 0px;
			    top: 7px;
			}
		}
	}
	.boxBorder {
	    position: relative;
	    top: -70px;
	    z-index: 5;
	    background: white;
	    max-width: 400px;
	    @include maxw(table_max) {
	    	top: 0px;
	    	margin-bottom: 20px;
	    	max-width: 100%;
	    }
	    &__title {
	    	margin-bottom: 20px;
	    	h3 {
	    		font-size: 20px;
	    		text-align: center;
	    	}	    	
	    }
	    form {
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    .inputCrow {
			    width: calc(50% - 10px);
			    &.full {
			    	width: 100%;
			    }
			}
		}
	}
	.form .inputCrow {
	    width: 100%;
	    margin-bottom: 20px;
	    textarea {
		    font-family: 'nexa_light';
		    border: solid 1px #3374ac;
		    background: #f7f7f7;
		    color: black;
		    box-sizing: border-box;
		    border-radius: 5px;
		    resize: none;
		    height: 80px;
		}
	}

}
.formTable {
	display: block;
	div {
	    width: 100% !important;
	}
	br {
	    display: none;
	}
	table {
	    width: 100% !important;
	    display: block !important;
	    tbody {
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    align-items: flex-start;
		}
		tr {
		    display: block;
		    padding: 0px !important;
		    box-sizing: border-box;
		    &:first-child {
			    width: 100%;
			    margin-bottom: 10px !important;
			}
		}
		td {
		    display: block;
		    font-size: 14px !important;
		    font-weight: 700;
		    color: #3374ac;
		    font-family: 'nexa_light' !important;
		    width: auto !important;
		    margin-bottom: 0px !important;
		    padding: 0px !important;
		}
		input, select {
			font-family: 'nexa_light';
		    border: solid 1px #3374ac;
		    background: #f7f7f7;
		    color: black;
		    width: 100% !important;
		    padding: 10px;
		    box-sizing: border-box;
		    border-radius: 5px;
		    margin-bottom: 10px !important;
		    width: 190px !important;
		}
		input[type=submit] {
		    background: #3374ac;
		    color: white !important;
		    border: solid 1px #3374ac;
		}
		textarea {
		    font-family: 'nexa_light';
		    border: solid 1px #3374ac;
		    background: #f7f7f7;
		    color: black;
		    width: 100% !important;
		    padding: 10px;
		    box-sizing: border-box;
		    border-radius: 5px;
		    margin-bottom: 10px !important;
		    width: 400px !important;
		}
	}
}
#map_canvas {
	height: 400px;
}