@import "utilities";
@import "variables";
.heightH  {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.init {
	position: relative;
	z-index: 2;
	.initCore {
		position: relative;
		z-index: 2;	
		background-size: cover;
		background-position: center;
		background-attachment: initial;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
		    background: black;
		    opacity: 0.5;
			left: 0px;
			z-index: -1;
		}
	}
	.x-container {
		position: relative;
	}
	.title {
		color: white;
		position: absolute;
		top: calc(50% + 50px);
		left: 0px;
		transform: translateY(-50%);
	    max-width: 650px;
	    margin-bottom: 0px;
	    h1 {
	    	font-size: 65px;
	    	margin-bottom: 45px;
	    }
	    a {
	    	font-size: 20px;
	    	min-width: 250px;
	    }
	}
	.swiper-pagination {
	    position: absolute;
	    transform: rotate(90deg);
	    right: 285px;
	    height: 16px;
	    width: auto !important;
	    margin: 0px;
	    bottom: auto !important;
	    top: 50%;
	    left: auto !important;
	    @include maxw(mypc) {
			right: 135px;
		}
		@include maxw(mylaptop) {
			right: 85px;
		}
		@include maxw(laptop) {
			right: 85px;
		}
		@include maxw(tablet_p) {
			right: 35px;
		}
		@include maxw(table_max) {
			right: 5px;
		}
		@include maxw(table_min) {
			right: 5px;
		}
		@include maxw(mobile) {
			right: 5px;
		}
	}
}
.soluciones {
	position: relative;
    z-index: 3;
    margin: 30px 0px;
	.box {
		position: relative;
	    background: white;
	    padding-bottom: 40px;
	    .soluciones_box {
	    	.flex {
	    		display: flex;
	    		justify-content: space-between;
	    		align-items: stretch;
	    		.left {
	    			width: calc(25% - 20px);
	    			flex: none;
	    			.content {
	    				border-top: solid 2px $orange;
					    border-bottom: solid 2px $orange;
					    padding: 25px 0px;
	    				p {
	    					font-size: 25px;
    						line-height: 33px;
    						color: $azul;
	    				}
	    			}
	    		}
	    		.right {
	    			width: calc(75% - 20px);
	    			flex: none;
	    			.flex-soluciones {
	    				display: flex;
	    				flex-wrap: wrap;
	    				justify-content: space-between;
	    				.soluciones_item {
	    					width: calc(33.3% - 20px);
	    					flex: none;
	    					box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.19);
	    					margin-bottom: 30px;
	    					.imagen_s {
	    						position: relative;
	    						img {
	    							display: block;
	    						}
	    						span {
								    position: absolute;
								    width: 60px;
								    height: 60px;
								    top: 5px;
								    background: white;
								    border-radius: 50%;
								    line-height: 65px;
								    text-align: center;
								    border: solid 1px #f7d52e;
								    right: 7px;
								    img {
								    	width: 40px;
									    margin: auto;
									    position: relative;
									    top: 11px;
								    }
								}
	    					}
	    					.content_s {
							    padding: 20px 15px;
							    position: relative;
							    top: -45px;
							    padding-bottom: 0px;
							    margin-bottom: -20px;
							    h3 {
							    	font-size: 16px;
    								margin-bottom: 20px;
    								color: white;
							    }
							    .contet {
							    	p {
									    font-size: 15px;
									    line-height: 22px;
									}
							    }
							    .link {
							    	.btn {
									    padding: 5px 15px;
									    margin-top: 10px;
									}
							    }
							}
							.heightFull {
							    height: 100%;
							    a {
								    display: flex;
								    height: 100%;
								    background: $orange;
								    align-items: center;
								    text-align: center;
								    justify-content: space-around;
								    font-size: 22px;
								    color: $azul;
								    font-weight: 700;
								}
							}
	    				}
	    			}
	    		}
	    	}
	    	img {
	    		max-width: 100%;
	    		flex: none;
	    	}
	    }
	}
	.title {
		margin-bottom: 20px;
	}
	&__title {
		font-size: 22px;
		color: $azul;
		margin-bottom: 25px;
	}
	&__content {
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    &__item {
		    width: calc(50% - 20px);
		    background: #efeeee;
    		margin: 10px;	 
    		a {
    			display: block;
			    background-size: cover;
			    position: relative;
			    background-position: center;
			    z-index: 2;
			    &:before {
				    content: '';
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    background: black;
				    z-index: -1;
				    opacity: 0.4;
				    transition: 0.3s;
				}
    		}   
		    .content_s {
		    	padding: 40px 30px;
			    height: 310px;
			    box-sizing: border-box;
		    	h3 {
		    		font-size: 25px;
				    font-weight: 700;
				    color: white;
				    transition: 0.3s;
		    		span {
					    display: block;
					    margin-bottom: 10px;
					    transition: 0.3s;
					    position: relative;
					    z-index: 1;
					    padding-left: 15px;
		    			img {
		    				width: 50px;
		    			}
		    			&:before {
		    				content: '';
						    position: absolute;
						    width: 80px;
						    height: 80px;
						    background: #ffffffbf;
						    z-index: -1;
						    border-radius: 50%;
						    top: -17px;
						    left: 0px;
		    			}
		    		}
		    		&:after {
					    content: '.';
					    color: $orange;
					}
		    	}
		    	.contet {
				    height: 0px;
				    overflow: hidden;
				    transition: 0.3s;
				    transition-delay: 0.3s;
				    p {
					    font-size: 16px;
					    color: white
					}
				}
				.link {
					overflow: hidden;
				    position: relative;
				    margin-top: 30px;
					p {
						display: block;
					    color: white;
					    font-weight: 700;
					    transform: translateX(-80px);
					    transition: .3s;
					    width: 70px;
    					position: relative;
    					transition-delay: 0.6s;
					    &:before {
					    	content: '';
						    position: absolute;
						    width: 50px;
						    height: 4px;
						    background: $orange;
						    top: 9px;
						    right: 0px;
						    transform: translateX(50px);
					    }
					}
				}
		    }
		    &:hover {
		    	a {
		    		&:before {
					    opacity: 0.8;
					    background: #efeeee;
		    		}
		    	}
		    	.content_s {
		    		h3 {
		    			color: $azul;
		    			span {
		    				transform: translateY(-5px);
		    				margin-bottom: 15px;
					    	padding-left: 0px;
					    	&:before { opacity: 0; }
		    			}
		    		}
		    	}
		    	.contet {
		    		height: 60px;
		    		padding: 10px 0px;
		    		p {
		    			color: #060101;
		    		}
		    	}
		    	.link {
		    		p {
		    			transform: none;
		    			color: $azul;
		    		}
		    	}
		    }		    
			&.soluciones-seguridad-gestionada {
				width: 100%;
			}
		}
	}
}
.content_clientes {
	ul {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: center;
	    li {
		    width: calc(16.66% - 10px);
		    border: solid 1px #e6e6e6cf;
		    height: 119px;
		    display: flex;
		    align-items: center;
		    padding: 10px;
		    box-sizing: border-box;
		    margin-bottom: 10px;
		    img {
    			width: 100%;
			    filter: grayscale(1);
			    transition: 0.3s;
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}
.banner-in {
	&__background {
		background-size: cover;
	    background-attachment: fixed;
	    position: relative;
	    padding: 80px 0px;
	    text-align: center;
	    color: white;
	    background-position: center;
	    margin-top: 80px;
	    z-index: 2;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
		    background: black;
		    opacity: 0.5;
			left: 0px;
			z-index: -1;
		}
	}
	.banner_title {
	    color: white;
	    max-width: 600px;
	    margin: auto;
	    h2 {
		    margin-bottom: 10px;
		    font-size: 30px;
		}
		p {
		    font-size: 22px;
		}
		a {
		    margin-top: 25px;
		}
	}
}

.testimonios {
	margin: 80px 0px;
	.swiper-slide {
		width: 33.33%;
	}
	.item_historia {
	    border: solid 1px #cecece;
	    margin-right: 20px;
	    margin-left: 5px;
	    padding: 20px;
	    position: relative;
	    box-shadow: 0px 8px 10px rgba(60, 60, 60, 0.17);
	    .img {
		    border: solid 1px #cecece;
		    background: white;
		    width: 120px;
		    border-radius: 50%;
		    overflow: hidden;
		    position: absolute;
		    top: -53px;
		    left: -20px;
		    img {
			    width: 100%;
			    display: block;
			    height: 100%;
			    object-fit: cover;
			}
		}
		.text {
			.tit {
				display: flex;
			    align-items: center;
			    margin-bottom: 10px;
			    img {
				    max-width: 80px;
				    margin-right: 10px;
				    border-right: solid 1px #d8d8d8;
    				padding-right: 10px;
				}
				h3 {
				    font-size: 16px;
				    color: $azul;
				    text-align: left;
				}				
			}			
			.content {
				min-height: 200px;
				p {
				    font-size: 12px;
				    line-height: 20px;
				}
			}
			 .autor {
			    margin-top: 15px;
			    font-weight: 700;
			    color: $azul;
			    font-size: 14px;
			}
		}
	}
	/*.content_testimonios {
		margin-right: 265px;
		max-width: calc(100% - 265px);
	}*/
}
.noticias {
	margin-bottom: 80px;
	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.blogsContent {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    .blogsContentItem {
			width: calc(33.33% - 20px);
		    position: relative;
		    height: 450px;
		    background-size: cover;
		    background-position: center;
		    box-shadow: 0px 9px 15px rgba(109, 109, 109, 0.76);
		    z-index: 2;
		    &:before {
			    content: '';
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    background: black;
			    z-index: -1;
			    opacity: 0.2;
			}
			a {
			    display: block;
			    height: 100%;
			    .title-top {
				    position: absolute;
				    color: white;
				    left: 20px;
				    top: 20px;
				    font-size: 16px;
				}
				.title-bot {
				    position: absolute;
				    bottom: 20px;
				    left: 20px;
				    width: calc(100% - 40px);
				    color: white;
				    span {
					    display: inline-block;
					    margin-top: 20px;
					    border-bottom: solid 2px white;
					}
				}
			}
			&.eventoDesu {
				display: flex;
			    align-items: center;
			    background: white;
				&:before {
					opacity: 0;
				}				
				a {
					.title-top {
						text-align: center;
						width: 100%;
						left: 0px;
					}
					.title-bot {
						text-align: center;
					    bottom: auto;
					    top: 50%;
					    transform: translateY(-40%);
					}
				}
				.content_eventos {
					.evento_item {
					    display: flex;
					    a {
						    display: flex !important;
						    align-items: center;
						    margin: 5px 10px;
						    border-bottom: solid 1px #afafaf7a;
						    padding-bottom: 10px;
						}
						&__img {
						    width: 120px;
						    flex: none;
						    margin-right: 10px;
						    img {
							    width: 100%;
							    height: 120px;
							    object-fit: cover;
							    display: block;
							}
						}
						&__text {
							.date {
							    font-size: 12px;
							    margin-bottom: 10px;
							    color: #949494;
							}
							.text {
							    color: $azul;
							    font-size: 18px;
							    font-weight: 700;
							}
							.link {
								p {
									position: relative;
								    padding-left: 35px;
								    color: $azul;
								    margin-top: 15px;
								    &:before {
								    	content: '';
									    left: 0px;
									    width: 30px;
									    position: absolute;
									    height: 3px;
									    background: $orange;
									    top: 9px;
								    }
								}
							}
						}
					}
				}
			}
		}
	}
}