@import "variables";
@import "utilities";
.banner {
	position: relative;
	z-index: 1;
	background-size: cover;
    background-position: center;
	.titlePrincipal {
		display: flex;
		align-items: center;
		height: 450px;
		.title {
			margin-bottom: 0px;
			h1 {
				font-size: 60px;
				color: white;
			}
		}
	}
}
.single {
	.banner {
		margin-top: 116px;
		@include maxw(table_max){
			margin-top: 80px;
		}
		.titlePrincipal {
			height: 350px;
			position: relative;
			h1 {
				font-size: 55px;
				@include maxw(table_max){
					font-size: 35px;
				}
			}
		}					
		.social {
		    position: absolute;
		    bottom: 10px;
		    display: flex;
		    align-items: center;
		    right: 0px;
		    &:before {
			    content: 'Compartir: ';
			    margin-right: 10px;
			}
			a {
				svg {
				    width: 30px;
				    height: 30px;
				    display: block;
				}
				&#whatsapp {
					width: 30px;
				    text-align: center;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    svg {
					    width: 17px;
					    height: 18px;
					    margin: auto;
					}
				}
			}
		}		
	}
	.left_a {
		@include maxw(table_max){
		    width: 100%;
		    flex: none;
		}
		.tag {
			a {
				background: $azul;
			    font-weight: 700;
			    padding: 5px 10px;
			    border-radius: 5px;
			    color: white;
			}
		}
	}
	.right_a {
		@include maxw(table_max){
		    margin-top: 10px;
		}
	}
	.desct {
	    position: relative;
	    background: $azul;
	    color: white;
	    display: flex;
	    align-items: center;
	    padding: 5px;
	    border-radius: 5px;
	    text-transform: uppercase;
	    font-weight: 700;
	    font-size: 12px;
	    i {
		    margin-right: 5px;
		    svg {
			    width: 20px;
			    height: 20px;
			    display: block;
			}
		}
		p {
		    letter-spacing: 1px;
		}
	}
	.justify-content-between {
		justify-content: space-between;
	}
}
.ssh3 .ss {
    margin-left: 25px;
}
.ssh3 {
    display: flex;
}
.comments {
    margin-top: 20px;
}
.desc {
    margin: 10px 0px;
}
.desc p {
    font-size: 14px;
    color: #3a3a3a;
}
ul.list_etiq li a.active {
    background: #3374ac;
    color: white;
}
ul.list_etiq li a {
    display: block;
    border: solid 1px #3374ac;
    color: #3374ac;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
ul.list_etiq li {
}
ul.list_etiq {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.tags {
	border-bottom: solid 1px #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;
	.flex {
 		display: flex;
    	align-items: center;
    	.date {
		    display: flex;
		    margin-left: 15px;
		    opacity: 0.4;
		    svg {
			    margin-right: 5px;
			    position: relative;
			    top: 2px;
			}
		}
	}
}
.noticias__full {
    width: 100%;
}
.contenido h3 {
    color: #3374ac;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #d6d6d6;
    padding-bottom: 5px;
}
.fb_iframe_widget_fluid_desktop iframe {
    width: 100% !important;
}

.contenido {
	&__flex {
		display: flex;
    	justify-content: space-between;
	}
	&__left {
	    width: calc(50% - 20px);
	    flex: none;
	    iframe {
		    width: 100% !important;
		}
		.buttons {
		    position: relative;
			.video-form {
				position: absolute;
			    bottom: 47px;
			    padding: 10px;
			    left: 0px;
			    border-radius: 6px;
			    width: 280px;
			    opacity: 0;
			    pointer-events: none;
			    transition: 0.3s;
			    z-index: 5;
			    background: #3374ac;
			   	padding-top: 25px;
			    &:before {
			    	content: '';
				    position: absolute;
				    width: 10px;
				    height: 10px;
				    background: #3374ac;
				    bottom: -4px;
				    transform: rotate(45deg);
				    left: 45px;
			    }
			    .closevideo:after {
				    content: '';
				    position: absolute;
				    width: 12px;
				    height: 2px;
				    background: white;
				    transform: rotate(-45deg);
				    top: 6px;
				    left: 1px;
				}
				.closevideo:before {
				    content: '';
				    position: absolute;
				    width: 12px;
				    height: 2px;
				    background: white;
				    transform: rotate(45deg);
				    top: 6px;
				    left: 1px;
				}
				.closevideo {
				    position: absolute;
				    width: 15px;
				    height: 15px;
				    cursor: pointer;
				    top: 5px;
				    right: 5px;
				}
			    .form {	
				    .inputCrow {
					    width: 100%;
					    margin-bottom: 10px;
					    label {
						    color: white;
						    font-weight: 800;
						}
						input {
							width: 100%;
						    box-sizing: border-box;
						    font-family: 'nexa_light';
						    padding: 5px 0px;
						    border: none;
						    border-bottom: solid 1px white;
						    background: white;
						    color: $azul;
						    &::placeholder {
						    	color: white;
						    }
						}
						button {
						    display: block;
						    width: 100%;
						}
					}
				}		
				&.active {
					opacity: 1;
    				pointer-events: all;
				}
			}
		}
	}
	&__right {
		width: calc(50% - 20px);
	    flex: none;	    
	}
}
.index-section {
	position: relative;
	z-index: 2;
	top: -115px;
	margin-bottom: -60px;
	.box {
		background: white;
		h3 {
			color: #3374ac;
			font-size: 24px;
			line-height: 24px;
		}
		.list_tags {
		    li {
			    margin-bottom: 10px;
			    a {
				    border: solid 1px #3374ac;
				    color: #3374ac;
				    padding: 10px;
				    border-radius: 35px;
				    min-width: 100px;
				    display: block;
				    text-align: center;
				    &:hover {
				    	background: #3374ac;
				    	color: white;
				    }
				}
			}
		}
		.noticias {
			&__content {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 20px;
			}
			&__left {
				width: 200px;
				flex: none;
			}
			&__right {
				width: calc(100% - 250px);
				flex: none;
			}
		}
		.noticias__right__content__swiper {
		    display: flex;
		    justify-content: space-between;
		    .noticias__item {
		    	width: calc(33.33% - 10px);
		    	border: solid 1px #9a9a9a52;
		    	@include maxw(table_max) {
					width: 100%;
				}
		    	&__img {
		    		position: relative;
		    		img {
		    			width: 100%;
		    			display: block;
		    			height: 200px;
    					object-fit: cover;
		    		}

					.social {
					    position: absolute;
					    bottom: 10px;
					    display: flex;
					    align-items: center;
					    right: 0px;
					    &:before {
						    content: 'Compartir: ';
						    color: white;
						    margin-right: 10px;
						}
						a {
							svg {
							    width: 30px;
							    height: 30px;
							    display: block;
							    path {
								    fill: white;
								}
							}
							&#whatsapp {
								width: 30px;
							    text-align: center;
							    display: flex;
							    justify-content: center;
							    align-items: center;
							    svg {
								    width: 17px;
								    height: 18px;
								    margin: auto;
								}
							}
						}
					}
		    	}
		    	&__date {
		    		position: absolute;
		    		color: white;
				    top: 5px;
				    right: 5px;
				    svg {
				    	margin-right: 5px;
				    	path {
				    		fill: white;
				    	}
				    }
		    	}
		    	&__content {
		    		padding: 20px;
		    		.tag {
					    margin-bottom: 5px;
					    a {
					    	font-size: 12px;
					    	color: $azul;
					    }
					}
					.linkContent {
						a {
						    color: #3374ac;
						    font-size: 16px;
						    background: #f7d52e;
						    font-weight: 700;
						    padding: 10px;
						    border-radius: 50px;
						    min-width: 100px;
						    display: inline-block;
						    text-align: center;
						}
					}
					&.experiencia_content {
						.resumenContent {
						    font-size: 14px;
						    line-height: 20px;
						    .content-r {
						    	min-height: 260px;
							}
						    .autors {
							    margin-top: 30px;
							    strong {
								    color: #3374ac;
								}
							}
						}
						.title {
						 	display: flex;
						    flex-wrap: wrap;
						    align-items: center;
						    justify-content: space-between;
						    margin-bottom: 15px;
						 	h3 {
							    width: calc(100% - 100px);
							    font-size: 18px;
							    line-height: 22px;
							}
							img {
							    width: 80px;
							}
						}
					}
		    	}
		    	&.destacado {
		    		background: $orange;
    				border: solid 1px $orange;
    				width: 100%;
    				display: flex;
    				align-items: center;
    				@include maxw(table_max) {
						display: block;
						width: 100%;
					}
    				.noticias__item__img {
    					width: 45%;
    					flex: none;
    					@include maxw(table_max) {
    						width: 100%;
    					}
    					img {
    						height: 350px;
    						@include maxw(table_max) {
	    						height: 200px;
    							object-fit: cover;
	    					}
    					}
    				}
    				.noticias__item__content {
    					width: 50%;
    					flex: none;
    					box-sizing: border-box;
    					@include maxw(table_max) {
    						width: 100%;
    					}
    				}
    				.link {
    					background: $azul;
    					color: white;
    				}
		    	}
		    	.desct {
				    position: absolute;
				    top: 5px;
				    background: $azul;
				    color: white;
				    display: flex;
				    align-items: center;
				    padding: 5px;
				    border-radius: 5px;
				    left: 5px;
				    text-transform: uppercase;
				    font-weight: 700;
				    font-size: 12px;
				    i {
					    margin-right: 5px;
					    svg {
						    width: 20px;
						    height: 20px;
						    display: block;
						}
					}
					p {
					    letter-spacing: 1px;
					}
				}
		    }
		}
	}
}
.video-c {
    position: relative;
}
.social {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    right: 0px;
    &:before {
	    content: 'Compartir: ';
	    color: $azul;
	    margin-right: 10px;
	}
	a {
		svg {
		    width: 30px;
		    height: 30px;
		    display: block;
		    path {
			    fill: $azul;
			}
		}
		&#whatsapp {
			width: 30px;
		    text-align: center;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    svg {
			    width: 17px;
			    height: 18px;
			    margin: auto;
			}
		}
	}
}
.noticias__item {
    width: calc(33.33% - 20px);
    border: solid 1px rgba(181, 181, 181, 0.47);
    margin-bottom: 20px;
    flex: none;
    &__img {
	    position: relative;
	    img {
		    display: block;
		    width: 100%;
		}
	}
	&__date {
	    position: absolute;
	    color: white;
	    top: 10px;
	    right: 10px;
	    display: flex;
	    svg {
		    margin-right: 7px;
		    path {
			    fill: white;
			}
		}
	}
	&__content {
	    padding: 15px 20px;
	    .tag {
		    margin-bottom: 5px;
		    a {
		    	color: #000a42;
		    }
		}
	}
}
.noticias__right__content__swiper {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.related {
	margin-top: 50px;
	.related_c {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
}
.title--nopoint {
	margin-bottom: 10px;
	a {
		color: $azul;
	}
}