@import "utilities";
@import "variables";
.init {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
	z-index: 2;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
	    background: black;
	    opacity: 0.5;
		left: 0px;
		z-index: -1;
	}
	.x-container {
	    height: 450px;
	}
	.titlePrincipal {
	    display: flex;
	    align-items: center;
	    h1 {
		    color: white;
		    font-size: 60px;
		}
	}
}
.acercade {
    position: relative;
    z-index: 3;
    .box {
    	position: relative;
	    top: -75px;
	    z-index: 2;
	    background: white;
    }
	.flex {
	    display: flex;
	    justify-content: space-between;
	    .left {
		    width: calc(60% - 20px);
		    flex: none;
		    @include maxw(mypc) {
				width: calc(70% - 20px);
			}
		    .content_flex {
			    display: flex;
			    justify-content: space-between;
			    .content_left {
				    width: calc(50% - 10px);
				    flex: none;
				    border-top: solid 2px $orange;
				    border-bottom: solid 2px $orange;
				    padding: 25px 0px;
				    color: $azul;
				    font-size: 21px;
    				line-height: 30px;
				}
				.content_right {
				    width: calc(50% - 10px);
				    flex: none;
				    p {
					    font-size: 16px;
					    margin-bottom: 10px;
					    line-height: 22px;
					}
				}
			}
		}
		.right {
		    width: calc(30% - 20px);
		    flex: none;
		    .experiencia {
			    padding: 25px 0px;
			    h3 {
				    color: $azul;
				    font-size: 30px;
				    margin-bottom: 10px;
				    &:after {
				    	content: '.';
					    color: $orange;
					    margin-left: 3px;
				    }
				}
				p {
				    margin-bottom: 15px;
				    font-size: 20px;
				    @include maxw(mypc) {
						font-size: 18px;
					}
				}
			}
		}
	}
}
.mision-vision {
	.left-container {
	    padding: 40px 65px;
	    margin-bottom: 40px;
	    background: #3374ac;
	    padding-right: 0px;
	    .flex {
	    	margin: 40px 0px;
		    margin-right: 300px;
		    display: flex;
		    justify-content: space-between;
		    color: white;
		    position: relative;
		    align-items: center;
		    @include maxw(mypc) {
				margin-right: 150px;
			}
			@include maxw(mylaptop) {
				margin-right: 100px;
			}
			@include maxw(laptop) {
				margin-right: 100px;
			}
		    &:before {
		    	content: '';
			    left: 50%;
			    height: 100%;
			    position: absolute;
			    width: 2px;
			    background: white;
			    opacity: 0.3;
		    }
		    h4 {
			    font-size: 20px;
			    margin-bottom: 25px;
    			position: relative;
    			&:before {
    				content: '';
				    position: absolute;
				    width: 80px;
				    height: 2px;
				    background: #f7d52e;
				    bottom: -7px;
    			}
			    &:after {
				    content: '.';
				    color: #f7d52e;
				    margin-left: 5px;
				}
			}
			p {
			    font-size: 16px;
			    color: white;
			    line-height: 24px;
			}
			.left {
			    width: calc(50% - 40px);
			    flex: none;
			    img {
			    	width: 100%;
			    }
			}
			.right {
			    width: calc(50% - 40px);
			    flex: none;
			}
		}
	}
}
.valores {
    margin-top: 120px;
    margin-bottom: 100px;
    .box {
	    padding-right: 0px;
	}
    .flex {
	    display: flex;
	    margin-right: 300px;
	    justify-content: space-between;
	    @include maxw(mypc) {
			margin-right: 150px;
		}
		@include maxw(mylaptop) {
			margin-right: 100px;
		}
		@include maxw(laptop) {
			margin-right: 100px;
		}
	    .left {
		    width: 500px;
    		flex: none;
    		p {
				line-height: 28px;
			    font-size: 18px;
			    margin-bottom: 20px;
    		}
		}
		.right {
		    width: 450px;
		    flex: none;
		    position: relative;
		}
	}
	.valores_c {
	    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
	    position: absolute;
	    top: -200px;
	    .img {
	    	img {
			    width: 100%;
			    height: auto;
			    display: block;
			}
	    }
		.list_item {
			.header {
			    display: block;
			    font-size: 16px;
			    color: #3374ac;
			    padding: 10px;
			    border-bottom: solid 1px rgba(62, 62, 62, 0.21);
			    font-weight: 700;
			    background: white;
			    cursor: pointer;
			}
			.body {
			    overflow: hidden;
			    background: white;
			    font-size: 14px;
			    line-height: 20px;
			    transition: 0.3s;
			    max-height: 0px;
			}
			&.active {
				.body {
					padding: 10px;
					max-height: 1000px;
				}
			}
		}
	}
}
.reconocimientos {
	margin-bottom: 80px;
	.premios, .certificaciones {
	    border-bottom: solid 1px rgba(86, 86, 86, 0.14);
	    padding-bottom: 40px;
	    margin-bottom: 40px;
	}
	.contenido {
		ul {
			display: flex;
    		flex-wrap: wrap;
			li {
			    width: calc(25% - 20px);
			    margin-right: 18px;
			    margin-bottom: 20px;
			    border: solid 1px #c1c1c15c;
			    display: flex;
			    align-items: center;
			    padding: 10px;
			    box-sizing: border-box;
			    text-align: center;
			    justify-content: center;
			    position: relative;
			    img {
				    width: auto;
				    max-height: 70px;
				    filter: grayscale(1);
				}
				span {
				    position: absolute;
				    background: $azul;
				    width: 100%;
				    height: 100%;
				    top: 0;
				    display: flex;
				    align-items: center;
				    color: white;
				    padding: 10px;
				    box-sizing: border-box;
				    transform: scale(0);
				    transition: 0.5s;
				    opacity: 0;
				}
				&:hover {
					span {
					    transform: scale(1);
					    opacity: 1;
					}
				}
				&:nth-child(even) {
					span {
						color: $azul;
						background: $orange;
					}
				}
			}
		}
	}
}
