@import "variables";
@import "utilities";
.init {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    min-height: 600px;
    &:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: black;
	    z-index: 0;
	    opacity: 0.2;
	}
	.titlePrincipal {
	    display: block;
		position: relative;
		top: 200px;
		@include maxw(tablet_p) {
			top: 50%;
    		transform: translateY(-50%);
		}
		h1 {
		    color: white;
		    font-size: 60px;
		    @include maxw(tablet_p) { 
		    	font-size: 30px;
		    }
		}
		p {
		    font-size: 20px;
		    color: white;
		    max-width: 600px;
		    @include maxw(tablet_p) { 
		    	font-size: 14px;
		    }
		}
	}
	.tt {
	    position: relative;
	    padding-left: 125px;
	    @include maxw(tablet_p) {
	    	padding-left: 95px;
		}
		@include maxw(table_min) {
	    	padding-left: 0px;
		}
	    img {
		    position: absolute;
		    width: 100px;
		    height: 100px;
		    left: 0px;
		    top: 50%;
		    margin-top: -42px;
		    @include maxw(tablet_p) {
				width: 80px;
		    	height: 80px;
		    	margin-top: -38px;
			}
			@include maxw(table_min) {
		    	display: none;
			}
		}
	}
}
.menu-container {
    max-width: calc(100% - 520px);
    margin-left: 520px;
    padding-right: 300px;
    @include maxw(mypc) {
		max-width: calc(100% - 450px);
	    margin-left: 450px;
	    padding-right: 150px;
	}
	@include maxw(mylaptop) {
		max-width: calc(100% - 450px);
	    margin-left: 450px;
	    padding-right: 100px;
	}
	@include maxw(laptop) {
		max-width: calc(100% - 350px);
	    margin-left: 350px;
	    padding-right: 100px;
	}
	@include maxw(tablet_p) {
		max-width: calc(100% - 100px);
		margin-left: 50px;
		padding-right: 50px;
	}
	@include maxw(table_max) {
		max-width: calc(100% - 40px);
		margin-left: 20px;
		padding-right: 20px;
	}
}
.menu-container-full {
	max-width: calc(100% - 520px);
    margin-left: 520px;
    @include maxw(mypc) {
		max-width: calc(100% - 450px);
	    margin-left: 450px;
	}
	@include maxw(mylaptop) {
		max-width: calc(100% - 450px);
	    margin-left: 450px;
	}
	@include maxw(laptop) {
		max-width: calc(100% - 350px);
	    margin-left: 350px;
	}
	@include maxw(tablet_p) {
		max-width: 100%;
	    margin-left: 0px;
	}
    .right-container {
    	padding-right: 300px;
    	@include maxw(mypc) {
		    padding-right: 150px;
		}
		@include maxw(mylaptop) {
		    padding-right: 100px;
		}
		@include maxw(laptop) {
		    padding-right: 100px;
		} 
		@include maxw(tablet_p) {
			padding-right: 100px;
		}
		@include maxw(table_max) {
			padding-right: 20px;
		} 	
    }
}
.fixedMenu {
    position: fixed;
    top: calc(50% - 50px);
    z-index: 4;
    a {
	    display: block;
	    color: white;
	    opacity: 0.5;
	    margin-bottom: 5px;
	    font-size: 18px;	    
	}
	li {
		&:nth-child(1) {
	    	a {
	    		opacity: 1;
		    	font-weight: 700;
		    	&:before {
		    		content: '';
				    width: 7px;
				    height: 7px;
				    display: inline-block;
				    border-bottom: solid 2px #f7d52e;
				    border-right: solid 2px #f7d52e;
				    transform: rotate(-45deg);
				    margin-right: 5px;
				    position: relative;
				    top: -2px;
		    	}
	    	}
	    }
	}
	&.link_2 {
		li {
			&:nth-child(1) {
				a {
			    	opacity: 0.5;
			    	font-weight: 400;
			    	&:before {
			    		display: none;
			    	}
		    	}
		    }
		    &:nth-child(2) {
		    	a {
			    	opacity: 1;
			    	font-weight: 700;
			    	&:before {
			    		content: '';
					    width: 7px;
					    height: 7px;
					    display: inline-block;
					    border-bottom: solid 2px #f7d52e;
					    border-right: solid 2px #f7d52e;
					    transform: rotate(-45deg);
					    margin-right: 5px;
					    position: relative;
					    top: -2px;
			    	}
			    }
		    }
		}
	}
	&.link_3 {
		li {
			&:nth-child(1), &:nth-child(2) {
				a {
			    	opacity: 0.5;
			    	font-weight: 400;
			    	&:before {
			    		display: none;
			    	}
			    }
		    }
		    &:nth-child(3) {
		    	a {
			    	opacity: 1;
			    	font-weight: 700;
			    	&:before {
			    		content: '';
					    width: 7px;
					    height: 7px;
					    display: inline-block;
					    border-bottom: solid 2px #f7d52e;
					    border-right: solid 2px #f7d52e;
					    transform: rotate(-45deg);
					    margin-right: 5px;
					    position: relative;
					    top: -2px;
			    	}
			    }
		    }
		}
	}
	&.link_4 {
		li {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				a {
			    	opacity: 0.5;
			    	font-weight: 400;
			    	&:before {
			    		display: none;
			    	}
		    	}
		    }
		    &:nth-child(4) {
		    	a {
			    	opacity: 1;
			    	font-weight: 700;
			    	&:before {
			    		content: '';
					    width: 7px;
					    height: 7px;
					    display: inline-block;
					    border-bottom: solid 2px #f7d52e;
					    border-right: solid 2px #f7d52e;
					    transform: rotate(-45deg);
					    margin-right: 5px;
					    position: relative;
					    top: -2px;
			    	}
		    	}
		    }
	    }
	}
	&.link_5 {
		li {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				a {
			    	opacity: 0.5;
			    	font-weight: 400;
			    	&:before {
			    		display: none;
			    	}
			    }
		    }
		    &:nth-child(5) {
		    	a {
			    	opacity: 1;
			    	font-weight: 700;
			    	&:before {
			    		content: '';
					    width: 7px;
					    height: 7px;
					    display: inline-block;
					    border-bottom: solid 2px #f7d52e;
					    border-right: solid 2px #f7d52e;
					    transform: rotate(-45deg);
					    margin-right: 5px;
					    position: relative;
					    top: -2px;
			    	}
			    }
		    }
	    }
	}
	&.link_6 {
		li {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
				a {
			    	opacity: 0.5;
			    	font-weight: 400;
			    	&:before {
			    		display: none;
			    	}
			    }
		    }
		    &:nth-child(6) {
		    	a {
			    	opacity: 1;
			    	font-weight: 700;
			    	&:before {
			    		content: '';
					    width: 7px;
					    height: 7px;
					    display: inline-block;
					    border-bottom: solid 2px #f7d52e;
					    border-right: solid 2px #f7d52e;
					    transform: rotate(-45deg);
					    margin-right: 5px;
					    position: relative;
					    top: -2px;
			    	}
			    }
		    }
	    }
	}
	&.action {
		a {
			color: #3374ac;
		}
	}
	@include maxw(tablet_p) { display: none; }
}
#acerca {
	position: relative;
	z-index: 2;
	.box {
		background: white;
	    margin-top: 50px;
	    position: relative;
		.flex {
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    @include maxw(table_min) {
		    	display: block;
		    }
		    .left {
			    width: calc(50% - 20px);
			    flex: none;
			    @include maxw(table_min) {
			    	width: 100%;
			    	margin-bottom: 20px;
			    }
			    .contenido_left {
				    flex: none;
				    border-top: solid 2px $orange;
				    border-bottom: solid 2px $orange;
				    padding: 25px 0px;
				    color: $azul;
				    font-size: 21px;
					line-height: 30px;
					@include maxw(table_min) {
					    font-size: 18px;
						line-height: 20px;
				    }
				}
			}
			.right {
			    width: calc(50% - 20px);
			    flex: none;
			    @include maxw(table_min) {
			    	width: 100%;
			    }
			    .content_right {
				    padding: 25px 0px;
				    @include maxw(table_min) {
				    	padding: 15px 0px;
				    }
					p {
					    font-size: 16px;
					    line-height: 24px;
					    color: $azul;
					}
				}
			}
		}
	}
}
#servicios {
	margin: 40px 0px;
	.box {
		.flex {
			display: flex;
		    justify-content: space-between;
		    color: $azul;
		    padding: 10px 0px;
		    flex-wrap: wrap;
		    @include maxw(table_min) {
		    	display: block;
		    }
		    .center {
			    font-size: 14px;
			    margin-bottom: 25px;
			    color: #212322;
			}
		    .left {
		    	width: 100%;
			    flex: none;
			    margin-bottom: 30px;
			    .contenido_left {
				    border-top: solid 2px $orange;
				    border-bottom: solid 2px $orange;
				    padding: 25px 0px;
				    font-size: 20px;
				    line-height: 26px;
				    @include maxw(table_min) {
				    	font-size: 18px;
				    	line-height: 22px;
				    }
				}
		    }
		    .right {
		    	width: 100%;
			    flex: none;
			    .accordeon_right {
			    	.accordeon {
			    		&__header {
			    			display: flex;
						    align-items: center;
						    /* border-top: solid 1px #90909061; */
						    border-bottom: solid 1px #90909061;
						    padding: 10px 0px;
						    position: relative;
						    cursor: pointer;
							img {
							    width: 40px;
							    height: 40px;
							    margin-right: 8px;
							}
							h3 {
							    font-size: 20px;
							}
			    		}
			    		&__body {
						    font-size: 14px;
						    /* overflow: hidden; */
						    padding: 0px;
						    padding-bottom: 30px;
						    padding-top: 10px;
						    .left, .right {
						    	width: calc(50% - 10px);
						    	@include maxw(table_min) {
							 		width: 100%;
							 		margin-bottom: 0px;
							    }
						    }
						    h3 {
							    font-size: 16px;
							}
							li {
								color: $black;
								&:before {
									content: '.';
								    font-size: 18px;
								    font-weight: 700;
								    color: $azul;
								    margin-right: 5px;
								}
							}
							p {
								color: $black;								
							    line-height: 20px;
							    font-size: 14px;
							}
							a {
								color: #3374ac;
							    margin: 10px 2px;
							    display: inline-block;
							    background: #f7d52e;
							    padding: 10px 25px;
							    font-size: 16px;
							    border-radius: 6px;
							    font-weight: 700;
							}
						}
			    	}
			    }
		    }
		}
	}
}
#experiencia {
	margin: 80px 0px;
	@include maxw(table_min) {
 		margin: 30px 0px;
    }
	.menu-container-full {
		background: $azul;
    	padding: 40px 50px;
    	padding-right: 0px;
    	@include maxw(table_min) {
	 		padding: 20px 30px;
	    }
    	h2 {
		    color: white;
		}
		.title {
		    margin-bottom: 25px;
		}
		.listColums {
		    color: white;
		    ul {
		    	display: flex;
    			flex-wrap: wrap;
    			justify-content: space-between;
			    li {
				    margin-bottom: 20px;
				    border: solid 1px white;
				    padding: 20px 20px;
				    padding-bottom: 20px;
				    position: relative;
				    display: flex;
				    align-items: center;
				    width: calc(50% - 10px);
				    box-sizing: border-box;
				    .tt {
					    margin-right: 10px;
					    flex: none;
					    width: 150px;
					    font-size: 16px;
					    font-weight: 700;
					    text-transform: uppercase;
					    line-height: 25px;
					}
					.cc {
					    border-left: solid 1px white;
					    padding-left: 10px;
					}
				}
			}
			.swiper-wrapper {
				height: 220px;
				@include maxw(table_min) {
				 	height: 290px;
				}
			}
			.swiper-slide {
			    padding: 10px 0px;
			    box-sizing: border-box;
			}
			.swiper-pagination {
			    transform: translateY(-50%) !important;
			    margin-top: 0px;
			    bottom: auto !important;
			}
			.list_a {
			    padding: 20px 20px;
			    border: solid 1px white;
			    box-sizing: border-box;
			    height: 200px;
			    width: calc(100% - 50px);
			    @include maxw(table_min) {
			 		height: auto;
			 		width: calc(100% - 30px);
			    }
			    &__flex {
		    		display: flex;
				    align-items: center;
				    justify-content: space-between;
				}
				&__cli {
				    width: 70%;
				    flex: none;
				    @include maxw(table_min) {
				 		width: 100%;
				    }
				    .tt {
					    font-size: 25px;
					    margin-bottom: 20px;
					    position: relative;
					    font-weight: 700;
					    color: #f7d52e;
					    @include maxw(table_min) {
					 		font-size: 18px;
					    	margin-bottom: 10px;
					    }
					}
				}
				&__img {
				    width: calc(30% - 20px);
				    flex: none;
				    img {
					    width: 100%;
					    height: 160px;
					    object-fit: cover;
					}
					@include maxw(table_min) {
				 		display: none;
				    }
				}
			}
		}
	}
}
.content_clientes {
	ul {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: center;
	    li {
		    width: calc(16.66% - 10px);
		    border: solid 1px #e6e6e6cf;
		    height: 119px;
		    display: flex;
		    align-items: center;
		    padding: 10px;
		    box-sizing: border-box;
		    margin-bottom: 10px;
		    img {
    			width: 100%;
			    filter: grayscale(1);
			    transition: 0.3s;
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
	.imgCore {
	    border: solid 1px #e6e6e6cf;
	    height: 150px;
	    display: flex;
	    align-items: center;
	    padding: 10px;
	    box-sizing: border-box;
	    margin-bottom: 10px;
	    margin-right: 10px;
	    background: white;
	    img {
			width: 100%;
		    filter: grayscale(1);
		    transition: 0.3s;
		    height: 100%;
		    object-fit: contain;
		}
		&:hover {
			img {
				filter: grayscale(0);
			}
		}
	}
	.swiper-slide {
		width: 25%;
		@include maxw(table_min) {
	 		width: 50%;
	    }
	}
	.swiper-pagination {
	    position: relative;
	}
}
.partners {
	margin-bottom: 80px;
	.content_partners {
		li {
			margin: 15px 0px;
		    border-bottom: solid 1px #e8e8e88a;
		    padding-bottom: 15px;
		    &:last-child {
		    	padding-bottom: 0px;
		    	border-bottom: none;
		    }
		    .contentf {
			    display: flex;
			    align-items: center;
			    @include maxw(tablet_p) {
			    	display: block;
			    }
			    .left {
				    width: 200px;
				    flex: none;
				    font-size: 25px;
				    display: flex;
				    font-weight: 700;
				    color: #3374ac;
				    @include maxw(tablet_p) {
				    	font-size: 18px;
				    }
				    &:after {
				    	content: '.';
				    	color: $orange;
				    }
				}
				.right {
				    display: flex;
				    flex-wrap: wrap;
				    img {
					    width: 250px;
					    border: solid 1px #dedede;
					    padding: 20px;
					    display: block;
					    margin-right: 15px;
					    filter: grayscale(1);
					    margin-bottom: 20px;
					    object-fit: contain;
					}
				}
			}
		}
	}
}
.noticias {
	margin-bottom: 80px;
	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.blogsContent {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    @include maxw(tablet_p) {
	    	display: block;
	    }
	    .blogsContentItem {
			width: calc(33.33% - 20px);
		    position: relative;
		    height: 450px;
		    background-size: cover;
		    background-position: center;
		    box-shadow: 0px 9px 15px rgba(109, 109, 109, 0.76);
		    z-index: 2;
		    @include maxw(mypc) {
				height: 350px;
			}
			@include maxw(tablet_p) {
		    	width: 100%;
		    	margin-bottom: 20px;
		    }
		    &:before {
			    content: '';
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    background: black;
			    z-index: -1;
			    opacity: 0.2;
			}
			a {
			    display: block;
			    height: 100%;
			    .title-top {
				    position: absolute;
				    color: white;
				    left: 20px;
				    top: 20px;
				    font-size: 16px;
				}
				.title-bot {
				    position: absolute;
				    bottom: 20px;
				    left: 20px;
				    width: calc(100% - 40px);
				    color: white;
				    span {
					    display: inline-block;
					    margin-top: 20px;
					    border-bottom: solid 2px white;
					}
				}
			}
		}
	}
}
section#clientes {
    margin-bottom: 80px;
}